* {
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
figcaption,
figure {
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * Add the correct display in IE.
 */
main {
  display: block;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 */
button {
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
  /* 2 */
}

button,
[type=button],
[type=reset],
[type=submit] {
  /**
   * Remove the inner border and padding in Firefox.
   */
  /**
   * Restore the focus styles unset by the previous rule.
   */
}
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Show the overflow in Edge.
 */
input {
  overflow: visible;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
  /**
   * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
   */
}
[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  color: inherit;
  /* 2 */
  white-space: normal;
  /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Add the correct display in IE 9-.
 */
menu {
  display: block;
}

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
template {
  display: none;
}

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}

.navigation__item:hover, .button, .slick-arrow {
  transition: all 0.3s ease-out;
}

html {
  font-size: 10px;
}

body {
  max-width: 1920px;
  font-family: Lato, sans-serif;
}

* {
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.wrapper {
  max-width: 1170px;
  margin: 0 auto;
}

h1 {
  font-size: 4rem;
  font-style: normal;
  font-weight: normal;
  line-height: 5rem;
  letter-spacing: 0.01em;
  color: rgba(0, 0, 0, 0.9);
  font-family: Commissioner, sans-serif;
}

h2 {
  font-size: 2.8rem;
  font-style: normal;
  font-weight: normal;
  line-height: 4rem;
  letter-spacing: 0.03em;
  color: rgba(0, 0, 0, 0.9);
  font-family: Commissioner, sans-serif;
}

h3 {
  font-size: 2.6rem;
  font-style: normal;
  font-weight: bold;
  line-height: 4rem;
  letter-spacing: 0.01em;
  color: #DEC377;
}

h4 {
  font-size: 2.6rem;
  font-style: normal;
  font-weight: normal;
  line-height: 4.5rem;
  color: rgba(0, 0, 0, 0.9);
  font-family: Commissioner, sans-serif;
}

h5 {
  font-size: 2rem;
  font-style: normal;
  font-weight: normal;
  line-height: 3rem;
  color: rgba(0, 0, 0, 0.9);
  font-family: Commissioner, sans-serif;
  margin: 0;
}

.slick-arrow {
  position: absolute;
  outline: none;
  z-index: 10;
  font-size: 0;
  width: 1.6rem;
  height: 2.2rem;
  border: none;
  cursor: pointer;
}
.slick-arrow:hover {
  height: 2.5rem;
}
.slick-arrow.slick-prev {
  background: url(./../img/ather/chevron-left.svg) no-repeat 100%;
  background-size: cover;
}
.slick-arrow.slick-next {
  background: url(./../img/ather/chevron-right.svg) no-repeat 100%;
  background-size: cover;
}

.slick-slide:focus {
  outline: none;
}

.button {
  padding: 1.3rem 3.5rem;
  color: #fff;
  background: #DEC377;
  border-radius: 2px;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: bold;
  line-height: 1.3rem;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  font-family: Commissioner, sans-serif;
  cursor: pointer;
  border: none;
}
.button:hover {
  color: #DEC377;
  background: #fff;
}

.link {
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2rem;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.5);
}
.link:hover {
  color: rgba(0, 0, 0, 0.8);
}

.text {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 300;
  line-height: 2.5rem;
  color: rgba(0, 0, 0, 0.8);
}

.header {
  margin-top: 1rem;
}

.header__info {
  display: flex;
  justify-content: space-between;
}

.lang {
  font-family: Source Sans Pro, sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 300;
  line-height: 2rem;
  color: rgba(0, 0, 0, 0.8);
}

.form-control {
  border: none;
  outline: none;
  font-weight: normal;
}

.header__contact {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 41.8rem;
  padding-bottom: 5rem;
}
.header__contact a {
  font-size: 1.4rem;
  font-style: normal;
  font-weight: normal;
  line-height: 2rem;
  letter-spacing: 0.03em;
  color: rgba(0, 0, 0, 0.5);
}

.header__contact-item {
  display: flex;
  flex-basis: 50%;
  justify-content: space-around;
}

.logo {
  padding-bottom: 2rem;
}

.promo {
  padding-top: 40rem;
  background: #E5E5E5;
}

.join {
  display: flex;
  background: #fff;
  margin-bottom: 10rem;
}

.join__content {
  margin-left: 7rem;
}

.join__title {
  padding: 5rem 0 3rem;
}

.our-work__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.our-work__card {
  background: #fff;
  display: flex;
  align-items: center;
  flex-basis: 31.5%;
  margin-bottom: 3rem;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
}

.our-work__card-content {
  margin: 2.5rem 7.5rem 2.5rem 4rem;
  width: 18rem;
  height: 9rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.our-work__card-content p {
  margin: 0;
}

.our-work__card-img {
  position: relative;
}

.our-work__card-img::before {
  display: block;
  width: 8rem;
  height: 8rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.direction__content {
  display: flex;
  align-items: baseline;
  padding: 10rem 0 6rem;
}

.direction__title {
  flex-basis: 78%;
}

.review {
  padding-top: 20rem;
}

.aaaa {
  display: flex;
  justify-content: space-between;
}

.review__slider-item {
  flex-basis: 57rem;
  padding-bottom: 6.5rem;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
  padding-left: 5rem;
}
.review__slider-item img {
  padding-bottom: 4rem;
  margin-left: -5rem;
}
.review__slider-item a {
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2rem;
  letter-spacing: 0.02em;
  color: rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  margin-bottom: 6.5rem;
}
.review__slider-item p {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: normal;
  line-height: 2.5rem;
  color: rgba(0, 0, 0, 0.5);
}

.review__subtitle {
  padding-bottom: 2rem;
}

.review__text {
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 300;
  line-height: 2.5rem;
  letter-spacing: 0.01em;
  color: rgba(0, 0, 0, 0.8);
  padding-bottom: 2.5rem;
}

.review__footer-content {
  display: flex;
  align-items: center;
  padding-bottom: 4.75rem;
}
.review__footer-content p {
  flex-basis: 67rem;
}

.review__footer-button {
  margin-left: 10rem;
  color: #DEC377;
  border: 2px solid #DEC377;
  background: #fff;
}
.review__footer-button:hover {
  color: #fff;
  background: #DEC377;
}

.review__partner {
  padding-bottom: 10.75rem;
}

.review__partner-list {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0;
}
.review__partner-list img {
  filter: grayscale(100%);
}

.service {
  background: #E5E5E5;
  padding-top: 8rem;
}

.description {
  flex-basis: 57rem;
  background: #fff;
}

.service__description {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 5rem;
}

.description-grow {
  flex-grow: 1;
  margin-top: 30px;
  display: flex;
}

.description__title {
  padding-left: 5rem;
}

.description__title-grow {
  flex-basis: 95rem;
}

.description__text {
  padding: 1.5rem 5rem 5.5rem 5rem;
}

.description__img {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding-bottom: 8rem;
}

.our__services {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 5rem;
}

.our__services-card {
  display: flex;
  height: 14rem;
  margin-bottom: 3rem;
  background: #fff;
}
.our__services-card:nth-child(8n+1) {
  flex-basis: 40.2%;
}
.our__services-card:nth-child(8n+1) img {
  opacity: 40%;
}
.our__services-card:nth-child(8n+2) {
  flex-basis: 57.2%;
}
.our__services-card:nth-child(8n+2) img {
  opacity: 40%;
}
.our__services-card:nth-child(4n+3) {
  flex-basis: 48.7%;
}
.our__services-card:nth-child(4n+3) img {
  opacity: 75%;
}
.our__services-card:nth-child(4n+4) {
  flex-basis: 48.7%;
}
.our__services-card:nth-child(4n+4) img {
  opacity: 75%;
}
.our__services-card:nth-child(5) {
  flex-basis: 57.2%;
}
.our__services-card:nth-child(6) {
  flex-basis: 40.2%;
}

.our__services-card-item {
  position: relative;
  width: 100%;
}
.our__services-card-item a {
  position: absolute;
  bottom: 2rem;
  right: 3rem;
}

.our__services-title {
  padding: 2.5rem 0 0 3rem;
}

.our__services_footer {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding-bottom: 10rem;
}

.our__services_footer-text {
  flex-basis: 67rem;
}

.protection__content {
  display: flex;
  padding-top: 8rem;
  padding-bottom: 3rem;
}
.protection__content:first-child {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.protection__content:nth-child(2) {
  padding-top: 6rem;
}

.protection__description {
  flex-basis: 47rem;
  margin-right: 14.9rem;
}

.protection__list {
  flex-basis: 44rem;
  font-size: 1.7rem;
  font-style: normal;
  font-weight: 600;
  line-height: 3rem;
  color: rgba(0, 0, 0, 0.75);
  letter-spacing: 0.01em;
}
.protection__list li {
  display: flex;
  align-items: center;
}
.protection__list li::before {
  content: url(./../img/ather/big-list-marker.png);
  padding-right: 2rem;
}

.advantage {
  background: #E5E5E5;
  padding-top: 8rem;
}

.advantage__title {
  margin: 0;
}

.advantage__main {
  display: flex;
  justify-content: space-between;
  padding-top: 3.5rem;
}

.advantage__footer {
  background: #fff;
  position: relative;
}
.advantage__footer::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-top: 80px solid #DEC377;
  border-left: 80px solid transparent;
  width: 0;
}

.advantage__footer_text {
  padding: 4rem 0 4.5rem 5rem;
  text-align: left;
  width: 74rem;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation__list {
  display: flex;
  justify-content: space-between;
  width: 73.9rem;
}
.navigation__list a {
  text-transform: uppercase;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem;
  color: rgba(0, 0, 0, 0.75);
  letter-spacing: 0.03em;
  font-family: Commissioner;
}

.navigation__item:hover {
  transform: scale(1.3);
}

.slider {
  position: relative;
}

.slider__wrapper {
  height: 65rem;
}

.slider__logo {
  width: 53.9rem;
  height: auto;
  padding-bottom: 2rem;
}

.slider__title {
  max-width: 50rem;
}

.slider__text {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 300;
  line-height: 2.5rem;
  color: rgba(0, 0, 0, 0.8);
  padding-bottom: 5rem;
}

.slider__button {
  position: absolute;
  bottom: 27%;
}

.item1 {
  background: url(./../img/slider-top/foto1.png);
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.item2 {
  background: url(./../img/slider-top/foto2.png);
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.item3 {
  background: url(./../img/slider-top/foto3.png);
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.item4 {
  background: url(./../img/slider-top/foto4.png);
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.item5 {
  background: url(./../img/slider-top/foto5.png);
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.slick-track {
  display: flex;
}

.slider .slick-arrow {
  bottom: 15.5%;
}
.slider .slick-arrow.slick-prev {
  left: 21%;
}
.slider .slick-arrow.slick-next {
  right: 74%;
}

.direction__slider {
  position: relative;
}
.direction__slider .slick-list {
  position: inherit;
  top: 10rem;
}

.direction__slider .slick-arrow {
  top: 68%;
}
.direction__slider .slick-arrow.slick-prev {
  left: -5%;
}
.direction__slider .slick-arrow.slick-next {
  right: -5%;
}

.direction__slider .slick-list {
  overflow: hidden;
  margin-bottom: 5rem;
}

.review__slider {
  position: relative;
}
.review__slider .slick-list {
  overflow: hidden;
  padding-bottom: 5rem;
}

.slick-dots {
  display: flex;
  width: 5rem;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
}
.slick-dots li button {
  font-size: 0;
  padding: 0;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: none;
  background: #DEC377;
  outline: none;
}

.review__slider .slick-arrow {
  bottom: 0;
}
.review__slider .slick-arrow.slick-prev {
  right: 10%;
}
.review__slider .slick-arrow.slick-next {
  right: 5%;
}

.dots-style {
  font-size: 0;
  padding: 0;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
}

.button__review-slider {
  position: relative;
  bottom: 3rem;
  margin-bottom: 10rem;
}

.card {
  position: absolute;
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 1170px;
  left: 50%;
  transform: translate(-50%, -20%);
}
.card img {
  padding: 3rem;
  border: 3px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  margin: 5rem 5.5rem 2.5rem;
}

.card__item {
  background: #fff;
}

.card__text {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: normal;
  line-height: 2.5rem;
  max-width: 230px;
  margin: 0 auto;
  letter-spacing: 0.02em;
  color: rgba(0, 0, 0, 0.75);
  padding-bottom: 4rem;
}

.advantage__card {
  flex-basis: 23%;
  text-align: center;
  background: #fff;
  margin-bottom: 4rem;
}

.advantage__card_img {
  position: relative;
  margin: 8rem 0 5.5rem;
}
.advantage__card_img:before {
  display: block;
  width: 12rem;
  height: 12rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.advantage__card_text {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: normal;
  line-height: 2.5rem;
  letter-spacing: 0.02em;
  color: rgba(0, 0, 0, 0.75);
  padding: 0 2rem 4rem 2rem;
}

/*# sourceMappingURL=style.css.map */
