$color-primary: rgba(0, 0, 0, 0.9);
$color-text: rgba(0, 0, 0, 0.8);
$color-link: rgba(0, 0, 0, 0.5);
$color-additional: #DEC377;
$color-title: rgba(0, 0, 0, 0.75);
$color-bg: #E5E5E5;
$color-light: #fff;

$page-width: 1920px;
$content-width: 1170px;
$tablet-width: 768px;
$mobile-big-width: 414px;
$mobile-small-width: 320px;
