.slider{
    position: relative;
}

.slider__wrapper {
    height: 65rem;
}

.slider__logo {
    width: 53.9rem;
    height: auto;
    padding-bottom: 2rem;
}

.slider__title {
    max-width: 50rem;
}

.slider__text {
    @include font(1.5rem, 2.5rem, 300);
    color: $color-text;
    padding-bottom: 5rem;
}

.slider__button {
    position: absolute;
    bottom: 27%;
}


.item1 {
    background: url(./../img/slider-top/foto1.png);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.item2 {
    background: url(./../img/slider-top/foto2.png);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;

}
.item3 {
    background: url(./../img/slider-top/foto3.png);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
 
}
.item4{
    background: url(./../img/slider-top/foto4.png);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;

}
.item5 {
    background: url(./../img/slider-top/foto5.png);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
 
}


.slick-track {
    display: flex;
}


.slider .slick-arrow {
    bottom: 15.5%;
    &.slick-prev{
        left: 21%;
    }
    &.slick-next {
        right: 74%;
    }
}


.direction__slider {
    position: relative;
    & .slick-list {
        position: inherit;
    top: 10rem; 
    }
}

.direction__slider .slick-arrow {
    top: 68%;
    &.slick-prev{
        left: -5%;
    }
    &.slick-next {
        right: -5%;
    }
}

.direction__slider .slick-list {
    overflow: hidden;
    margin-bottom: 5rem;
}

.review__slider{
    position: relative;
    & .slick-list {
        overflow: hidden;
        padding-bottom: 5rem;
    }
}

.slick-dots {
    display: flex;
    width: 5rem;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0;
     li {
        button {
            font-size: 0;
            padding: 0;
            width: 1rem;
            height: 1rem;
            border-radius: 50%;
            border: none;
            background: $color-additional;
            outline: none;
        }
     }
}
.review__slider .slick-arrow {
    bottom: 0;
    &.slick-prev{
        right: 10%;
    }
    &.slick-next {
        right: 5%;
    }
}

.dots-style {
    font-size: 0;
    padding: 0;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
}

.button__review-slider {
    position: relative;
    bottom: 3rem;
    margin-bottom: 10rem;
}